/* Reset */
* { margin:0; padding:0; font-family:LatoRegular; font-size:14px; font-weight:normal; box-sizing:border-box; }
html, body { width:100%; height:100%; }
body { background:#fff; }
ul, li { list-style:none; }
path { fill: none; }

.connector-path {
    stroke: #006dc9;
    stroke-width: 4px;
}

.connector-interaction-path {
    stroke: transparent;
    stroke-width: 20px;
    stroke-linecap: square;
}

.connector-interaction-path.hover-highlight {
    stroke: #006dc93d;
}

/* border, margin, and padding is not currently handled and will screw up transformations */
#paper { border:0px solid #f00; width:1000px; height:1000px; overflow:hidden; position:relative; transform-origin:0 0; }

.obj { display:flex; align-items:center; justify-content:center; position:absolute; width:52px; height:52px; background:#fff; border:1px solid #0094ff; border-radius:4px; }
.obj.selected { box-shadow:0px 0px 8px #00daff; }

.translateHandle { cursor:move; display:block; width:12px; height:12px; background:#0094ff; border-radius:12px; }
.resizeHandle { cursor:nwse-resize; display:block; position:absolute; bottom:3px; right:3px; width:12px; height:12px; background:url(resize-handle.svg) 0 0 no-repeat; } 
.connectorAnchor { cursor:pointer; display:block; position:absolute; top:0px; right:-18px; width:12px; height:12px; background:#fff; border:2px solid rgb(0, 109, 201); border-radius:4px; }

.encapsulation-box {  position:absolute; top:0; left:0; width:10px; height:10px; border:1px solid rgb(158, 158, 158); background-color:rgba(153, 153, 153, 0.5) ;}
